@import url('https://fonts.googleapis.com/css?family=Aclonica:400');
@import url('https://fonts.cdnfonts.com/css/adamina');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'adamina';
}

.signup {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
}

.blue-box {
    width: 30%;
    height: 100%;
    background-color: #11101D;
    position: relative;
    min-width: 340px;
}


.first-svg {
    position: absolute;
    width: 488.614px;
    height: 454.518px;
    flex-shrink: 0;
}

.second-svg {
    position: absolute;
    width: 488.614px;
    height: 454.518px;
    flex-shrink: 0;
    bottom: 0;

}


.first-svg-white {
    position: absolute;
    display: none;
}

.second-svg-white {
    position: absolute;
    bottom: 0;
    display: none;
}


.white-box {
    position: relative;
    display: flex;
    align-items: center;
    RIGHT: 20px;
    padding-left: 40px;
    justify-content: center;
    width: 70%;
    height: 100%;
    border-radius: 25px 0px 0px 25px;
    background: white;
    overflow-y: auto;
}

.text-pink-box {
    position: absolute;
    width: 95%;
    margin-top: 25%;
    margin-right: 5px;
}

.text-pink-box p {

    color: #FFF;
    text-align: center;
    font-family: Aclonica;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mannette-1EL {
    width: 110%;
    min-width: 230px;
    position: absolute;
    left: 50px;
    top: 230px;
    z-index: 99;
}

section.signup .content {
    position: relative;
    padding-inline: 30px;
    width: 90%;
    HEIGHT: 100%;
}

section.signup .content .form {

    position: relative;
    display: flex;
    align-items: center;
    height: max-content;
    width: 100%;
    margin-top: 115px;
}


section.signup .content h2 {

    font-weight: 400;
    margin-top: 25px;
    min-width: 320px;
    font-size: 48px;
    text-align: center;
}


section.signup .content .form .flex_inputs {
    display: flex;
    gap: 60px;
    width: 100%;
}

section.signup .content .form .inputA .form-label {
    font-size: 20px;
    position: relative;
    top: 10px;
    left: 11px;
    background: white;
    padding-left: 3px;
    padding-right: 3px;
}

.inputA {
    width: 100%;
    height: 68px;
    MIN-WIDTH: 50px;
}

section.signup .content .form .inputA input,
section.signup .content .form .inputA select {
    width: 100%;
    height: 45px;
    padding: 5px 15px;
    outline: none;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid black;
    background-color: transparent;
    margin-bottom: 10px;
    font-size: 17px;
    ;
    color: black;

}

section.signup .content .form .inputpic {
    width: 100%;
    JUSTIFY-CONTENT: center;
    display: flex;
    height: 23%;
    POSITION: absolute;
    top: -100px;

}


section.signup .content .form .inputpic .circle-input {
    border-radius: 50%;
    overflow: hidden;
    width: 105px;
    max-height: 95px;
    background-color: rgb(169 169 169 / 30%);
    border: 1px solid;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.1px;
}

section.signup .content .form .inputpic .circle-input:hover {
    border: 2px solid grey;

}

section.signup .content .form .inputpic label {
    position: absolute;
    FONT-SIZE: larger;
    font-weight: 100;
    opacity: 34%;
    top: 18PX;
}

section.signup .content .form .inputA input:hover,
section.signup .content .form .inputA select:hover {
    border: 2px solid grey;

}

section.signup .content .form .inputA input:focus {
    border: 2px solid #146B9C;

}

section.signup .content .form .inputA select:focus {
    border: 2px solid #146B9C;

}


section.signup .content .form .flex_inputs .inputA input[type="date"] {
    color: white;
}

section.signup .content .form .flex_inputs .inputA input[type="date"]:valid {
    color: black;
}

.button_sub {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;

}

.User {
    width: 100%;
    margin-top: 7px;
    display: flex;
    justify-content: center;

}

.User p {
    font-size: 17px;
}

section.signup .content .form .button_sub input {


    height: 45px;
    width: 100%;
    color: white;
    border-radius: 10px;
    border: 1.5px solid black;
    cursor: pointer;
    background-color: black;
    font-size: 25px;
    font-weight: 500;

}

section.signup .content .form .button_sub input:hover {
    background-color: #146B9C;
    border: 1.5px solid #146B9C;

}


@media (max-width:500px) {

.main{
    height: 112vh;
}
    .blue-box {
        display: none;
    }

    .white-box {
        background-color: #11101D;
        right: 0px;
        width: 100%;
        border-radius: 0%;
        padding-left: 0%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }


    .first-svg-white {
        position: absolute;
        display: block;
        width: 444px;
        height: 436px;
        flex-shrink: 0;
        left: 0%;
        top: 0%;
        
    }

    .second-svg-white {
        position: absolute;
        bottom: 0;
        display: block;
        width: 488.614px;
        height: 454.518px;
        flex-shrink: 0;
    }

    section.signup .content {
        position: absolute;
        display: flex;
        
        width: 100%;
        align-items: center;
        flex-direction: column;

    }


    section.signup .content h2 {
        margin-top: 10px;
        font-size: 40px;
        min-width: 300px;
        color: #FFF;
    }

    section.signup .content .form {
        width: 90%;
        margin-top: 105px;
        justify-content: center;
    }

    section.signup .content .form form {
        width: 90%;
    }

    section.signup .content .form .inputpic {
        width: 90%;
    }

    section.signup .content .form .inputpic label {
        color: #FFF;
    }

    section.signup .content .form .inputpic .circle-input {
        border: 1.5px solid white;
    }

    .inputA {
        width: 100%;
        min-width:auto;
        position: relative;
        height: 35px;
        margin-bottom: 25px;
        margin-top: 10px;

    }

    section.signup .content .form .inputA input,
    section.signup .content .form .inputA select {

        height: 40px;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0px;
        font-size: 14px;
        border: 2px solid white;
        border-radius: 10px;
        color: white;

    }

    section.signup .content .form .flex_inputs .inputA input[type="date"] {
        color: transparent;
    }

    section.signup .content .form .flex_inputs .inputA input[type="date"]:valid {
        color: white;
    }

    section.signup .content .form .inputA .form-label {
        border-radius: 5px;
        height: 19px;
        padding-block: 2px;
        color: #000;
        font-size: small;
        position: absolute;
        padding-inline: 7px;
        background: white;
        top: -10px;

    }

    section.signup .content .form .inputA input:hover,
    section.signup .content .form .inputA select:hover {
        border: 2px solid rgba(255, 255, 255, 0.5);

    }

    section.signup .content .form .inputA input:focus,
    section.signup .content .form .inputA select:focus {
        border: 2.5px solid #146B9C;

    }

    section.signup .content .form .flex_inputs {
        display: block;
        width: 100%;
    }


    .button_sub {
        height: 35px;
        width: 100%;
        margin-top: 18px;
        display: flex;
        justify-content: center;

    }

    section.signup .content .form .button_sub input {

        height: 33px;
        color: #146B9C;
        border: 1.5px solid white;
        cursor: pointer;
        background-color: white;
        font-size: 21px;


    }

    section.signup .content .form .button_sub input:hover {
        background-color: #146B9C;
        border: 1.5px solid #146B9C;
        color: white;


    }


    .User {

        margin-top: 5px;
    }

    .User p {
        color: white;
        font-size: 14px;

    }

}

@media (max-width:730px)and (min-width:500px) {


    .white-box {
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: 0px;
        padding-left: 0;
        padding-inline: 2%;
    
    }

    .blue-box {
        display: none;
    }

    section.signup .content {
        margin-left: 0;
        padding-inline: 0;
        width: 85%;

    }
}


@media (max-width:860px)and (min-width:730px) {

    .main{
        overflow: hidden;
    }
    section.signup .content{
        padding-inline: 15px;
    }

    section.signup .content .form {
        margin-top: 90px;
        justify-content: center;
    }


    section.signup .content .form .inputA input,
    section.signup .content .form .inputA select {
        height: 40px;
        font-size: 15px;
    }

    section.signup .content .form .inputA .form-label {
        font-size: 18px;
    }


    section.signup .content .form form {
        width: 100%;
    }

    section.signup .content h2 {

        position: relative;
        top: 10px;
        margin-top: 0px;
        font-size: 43px;

    }

    section.signup .content .form .inputpic {
        top: -79px;
        height: 20%;
    }

    section.signup .content .form .inputpic .circle-input {
        max-height: 90px;
        width: 100px;
    }


    section.signup .content .form .flex_inputs {
        flex-direction: column;
        gap: 0%;

    }

    .inputA {
        height: 60px;
    }

    section.signup .content .form .button_sub input {
        height: 38px;
    }

    section.signup .content .form .button_sub {
        margin-top: 20px;
    }

    .User {
        margin-top: 3px;
    }

    .User p{

        font-size: 15px;
    }
 
}